form.form-inline action=search_results_path method="get"
  label.my-1.mr-2 for="search-query" Dotaz
  input.form-control.my-1.mr-sm-2(
    name="q"
    id="search-query"
    autofocus=(true if request.path == search_path)
    value=search.query
  )
  button.btn.btn-outline-primary.my-1 Hledat
