h1 = l(pagination_date, format: :month_year)

p
  a.btn.btn-primary href="/entries/new" Přidat

== partial_slim 'entries/_entries', entries: Entry.by_month(pagination_date, sort_by: sort_by), stats: true
