# gem install sysrandom
# ruby -e "require 'sysrandom/securerandom'; puts SecureRandom.hex(64)"

development:
  session_secret: TODO
  login_encrypted_username: TODO
  login_encrypted_password: TODO
  login_salt: TODO

production:
  session_secret: TODO
  login_encrypted_username: TODO
  login_encrypted_password: TODO
  login_salt: TODO
