h1.mt-3.mb-3 = title 'Pravidelné výdaje'

#recurring-expenses-chart.mb-3 style="height: 500px;" data-js-component="RecurringExpensesChart" data-url=recurring_expenses_json_path
  .w-100.h-100.border.text-center style="line-height: 500px; color: #dee2e6;"
    span.octicon-big == icon(:graph)
